<h4 class="text-center">Carrinho</h4>

<form [formGroup]="carrinhoForm" class="form mt-4">

    <div class="col-md-12 text-center">
            <input
                class="form-control" 
                formControlName="email"
                placeholder="Informe o E-mail do Cliente"
                autofocus>
            <small
                *ngIf="carrinhoForm.get('email').errors?.required"
                class="text-danger d-block mt-2">
                E-mail do Cliente é Obrigatório!
            </small>  
            
    </div>
    <br>
    <div class="row">
        <div class="col-md-6 text-center">
           <button [disabled]="carrinhoForm.invalid" type="button" class="btn btn-primary" (click)="cliente()"> Cliente </button> 
        </div>

        <div class="col-md-6 text-center">
           <button type="button" class="btn btn-primary" (click)="menu()"> Menu </button> 
        </div>

    </div>
    <br>

     <p class="bg-info"> &nbsp; </p>

     <div class="form-group" *ngIf="carrinhoEncontrado">
        <table class='table table-striped'>
            <tbody class="text-center">
                <tr>
                    <th> Nome </th>
                    <th> Email </th>
                    <th> ID Carrinho</th>
                </tr>

                <tr *ngFor='let carrinho of carrinhos'>
                    <td>{{ carrinho.usuario.nome }}</td>
                    <td>{{ carrinho.usuario.email }}</td>
                    <td>{{ carrinho.id }}</td>
                </tr>
            </tbody>
        </table>
        

        <table class='table table-striped'>
            <tbody class="text-left">
                <tr>
                <th> Item </th>
                <th> Valor </th>
                </tr>
                
                <tr *ngFor='let itemCarrinho of itensCarrinho'>
                    <td>{{ itemCarrinho.nome }}</td>
                    <td>{{ itemCarrinho.valor }}</td>
                </tr>
            </tbody>
        </table>

        <p class="bg-info"> &nbsp; </p>
    </div>
     


    <div class="form-group" *ngIf="clienteEncontrado">
        
        <div class="form-group">
            <label for="selItem">
                Selecione Item abaixo para Adicionar ou Remover do Carrinho
            </label>

            <select class="form-control"  id="selItem" formControlName="selItem" >
                <option  value=''></option> 
                <option *ngFor="let item of itens" [value]="item.id"> {{ item.nome }} - {{ item.valor }}</option>
            </select>
        </div>

        <div class="row">
            <div class="col-md-3 text-center">
                <button type="button" class="btn btn-primary" (click)="adicionarItem()"> Adicionar Item </button> 
            </div>
            <div class="col-md-6 text-center">
                &nbsp;
            </div>

            <div class="col-md-3 text-center">
                <button type="button" class="btn btn-primary" (click)="removerItem()"> Remover Item </button> 
            </div>
        
        </div>


    </div>
</form>